/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%; /* Fixed width */
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 10; /* Ensure it stays on top */
    
}

.mobile-navbar-toggle {
    display: none;
}



.navbar .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 6rem; /* Space between links */
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    padding: 1.5rem 3.5rem;
    border-left: 9px solid rgba(255, 204, 0, 0.8);
    border-bottom: 4px solid rgba(255, 204, 0, 0.8);
    background-clip: padding-box;
    border-bottom-left-radius: 2rem;
    box-shadow: -2px 2px 8px black;
}

.navbar .nav-links li {
    text-align: center;
}

.navbar .nav-links a {
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
    cursor: pointer;
    padding: .01em .5em;
    letter-spacing: 0.3em;
    transition: color 0.1s, transform 0.6s, opacity 1s;
}

.navbar .nav-links a::before {
    content: "";
    pointer-events: none;
    position: absolute;
    background: currentColor;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .25;
    transform: perspective(1em) rotateX(40deg) scale(1, .20);
    filter: blur(.65em);
    transition: color 0.1s, transform 0.6s, opacity 1s;
}

.nav-links a:hover, .nav-links a:focus {
    color: #ffcc00;
}

.nav-links a:hover::before, .nav-links a:focus::before {
    opacity: 0.7;
    transform: perspective(1em) rotateX(40deg) scale(1, .25);
}

/* Active styles */
.nav-links a.active {
    color: #ffcc00;
}

.nav-links a.active::before {
    opacity: 1;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.40);
}

.hidden {
    opacity: 0;
    visibility: hidden;
    
}

/* Splash Section */
.splash {
    background: url('../Images/Together - humans and machines with a bright future.webp') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: left;
    position: relative;
}

.splash-content {
    position: absolute;
    top: 5.8rem; /* Positioning from the top of the image */
    left: 2rem; /* Positioning from the left of the image */
    font-family: 'Orbitron', sans-serif;
    max-width: 60%;
    z-index: 20;
    line-height: clamp(2.5rem, 2.8vw, 10rem);
    transition: opacity 2s ease, visibility 2s ease;
}

.splash-content h1 {
    font-size: clamp(2.6rem, 3.3vw, 10rem);
    color: #ffcc00;
    font-weight: 800;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.splash-content h2 {
    font-size: clamp(1.8rem, 1.9vw, 10rem);
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 1rem 1.5rem;
    opacity: 0;
    transition: opacity 1s ease;
}


.splash-content h2.visible {
    opacity: 1;
}


/* About Section */
.about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* White background with slight transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    color: #333; /* Professional dark-gray text */
    font-family: Arial, sans-serif;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: opacity 2s ease, visibility 2s ease; /* Smooth appearance */
}



.about-container {
    position: relative;
    width: 95%;
    margin: auto;
    padding: 2em;
}

/* Orange Border (top left corner, 50% across and down) */
.about-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 55%;
    border-top: 8px solid #ffcc00; /* Orange border color */
    border-left: 18px solid #ffcc00; /* Orange border color */
    z-index: -100;
    border-top-left-radius: 2rem;
}

.about-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 55%;
    border-right: 18px solid #ffcc00;
    border-bottom: 8px solid #ffcc00;
    z-index: -100;
    border-bottom-right-radius: 2rem;
}

.about h2 {
    font-family: 'Orbitron', sans-serif;
    color: #ffcc00;
    font-size: clamp(2rem, 3vw, 5.5rem);
    margin: .5em 0em;
    text-transform: uppercase;
}

.about p {
    font-size: clamp(.9rem, 1.2vw, 1.5rem);
    line-height: clamp(.8rem, 2.5vw, 6rem);
    margin: 0rem .8em;
}

/* Projects Section */
.projects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 204, 0, 0.8); /* Orange background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    color: white; /* Dark text for contrast */
    font-family: Arial, sans-serif;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: opacity 1.2s ease, visibility 2s ease; /* Smooth appearance */
}

.projects-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 3.55rem;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: 
    " item1 item1 item2 item2 item2"
    " item1 item1 item3 item3 item5"
    " item1 item1 item3 item3 item5"
    " item4 item4 item3 item3 item5"
    " item4 item4 item3 item3 item5"
    ;
}

/* Orange Border (top left corner, 50% across and down) */
.projects-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 55%;
    border-top: 8px solid black; /* White border for contrast */
    border-left: 18px solid black;
    z-index: -100;
    border-top-left-radius: 2rem;
}

.projects-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 55%;
    border-right: 18px solid black;
    border-bottom: 8px solid black;
    z-index: -100;
    border-bottom-right-radius: 2rem;
}

.projects h2 {
    font-family: 'Orbitron', sans-serif;
    color: black;
    text-transform: uppercase;
}

.projects p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.projects.hidden {
    opacity: 0;
    visibility: hidden;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: .25em;
    border: 1px solid black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
   
}

.item:hover {
    transform: scale(1.1); 
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8); 
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease; 
}

.item-info h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 1.9vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffcc00;
    
}

.item:hover .item-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    backdrop-filter: blur(.40rem);
}

.item1 {
    grid-area: item1;
    background: url(../Images/flexboxWebpageSplash.png) top center/cover;
}

.item2 {
    grid-area: item2;
    background: url(../Images/petr-sidorov-XoBdj1zV-EA-unsplash.jpg) top center/cover;
}

.item2 .item-info {
    flex-direction: row;
}

.item3 {
    grid-area: item3;
    background: url(../Images/fotomaticResponsiveLayout.png) top center/cover; 
}

.item4 {
    grid-area: item4;
    background: url(../Images/sunCitySolarProtoypePage.png) top center/cover;
}

.item5 {
    grid-area: item5;
    background: url(../Images/carl-raw-dmc4sVdnSDs-unsplash-portraitEdit.jpg) top center/cover;
}

/* Style the .button class inside .item-info */
.item-info .button {
    display: inline-block;
    padding: .4em .8em;
    border-radius: 8px;
    border: 1px solid #ffcc00; /* Example: blue background */
    color: #ffcc00;
    background: black;
    text-decoration: none; /* Remove underline from links */
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}



/* Focused state (for accessibility) */
.item-info .button:hover, .item-info .button:focus {
    
    box-shadow: inset 0 0 .7em 0 currentColor, 0 0 1em 0 currentColor;
}



/* Contact Section */
.contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* White background with slight transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    color: #ffcc00; /* Professional dark-gray text */
    font-family: Arial, sans-serif;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: opacity 2s ease, visibility 2s ease; /* Smooth appearance */
}

.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 3.5rem;
}

/* Orange Border (top left corner, 50% across and down) */
.contact-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 55%;
    border-top: 8px solid white; /* Orange border color */
    border-left: 18px solid white; /* Orange border color */
    z-index: -100;
    border-top-left-radius: 2rem;
}

.contact-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 55%;
    border-right: 18px solid white;
    border-bottom: 8px solid white;
    z-index: -100;
    border-bottom-right-radius: 2rem;
}

.contact h2 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.contact p {
    font-size: 1.5vw;
    line-height: 1.6; 
}

.contact a {
    color: white;
}

.contact .tech-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.contact .tech-icon {
    width: clamp(2.3rem, 3.8vw, 3.8rem);
}


/* Responsive Design */
@media (max-width: 768px) {
    /* Navbar Adjustments */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0rem 0rem;
        background-color: rgba(0, 0, 0, 0.9); /* Slightly darker for contrast */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8); /* Shadow under the top navbar */
        border-right: none;
        border-bottom:  3px solid  rgba(255, 204, 0, 0.7);
    }

    .navbar .nav-links {
        flex-direction: row; /* Horizontal links */
        gap: 0;
        justify-content: space-around;
        width: 100%;
        background-color: transparent;
        padding: 0;
        border: none;
    }

    .navbar .nav-links li {
        text-align: right;
        
    }

    .navbar .nav-links a {
        font-size: .8rem;
        letter-spacing: 0.2rem;
    }

    /* Splash Content Adjustments */
    .splash-content {
        position: relative;
        top: 0;
        left: 0;
        min-width: 90%;
        max-width: 90%;
        height: 28rem;
        text-align: center;
        line-height: normal;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    .splash-content h1 {
        font-size: 7vw;
        padding-top: 4rem;
        -webkit-text-stroke-width: 0px;
    }


    .splash-content h2 {
        padding: 2rem;
        font-size: 4vw;
        line-height: 3.2rem;
        -webkit-text-stroke-width: 0px;
    }

    .about {
        left: 0; /* Navbar is horizontal, no need for left margin */
        top: 5rem; /* Adjust for horizontal navbar height */
        width: 100%; /* Full width */
        height: calc(100% - 5rem); /* Avoid overlap with horizontal navbar */
    }

    .about-container {
        padding: 2rem;
        width: 100%;
    }

    .about h2 {
        font-size: 2.5rem;
    }

    .about p {
        font-size: clamp(0.84rem, 2.2vw, 2rem);
        line-height: 1.6em;
    }

    .projects {
        left: 0; /* Navbar is horizontal, no need for left margin */
        top: 5rem; /* Adjust for horizontal navbar height */
        width: 100%; /* Full width */
        height: calc(100% - 5rem); /* Avoid overlap with horizontal navbar */
        padding: 0.5rem;
    }

    .projects-container {
        padding: 1.8rem;
        width: 100%;
        grid-template-rows: repeat(3, 33.3%);
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
        " item1 item1 "
        " item2 item3 "
        " item4 item5 "
        
        ;
    }
    
    .item {
        margin: .2em;
    }
    
    .item-info h2 {
        font-size: 2.2vw;
    }
    
    .item-info .button {
        font-size: 1.6vw;
    }

   


    .item2 .item-info {
        flex-direction: column;
    }
    

    

    .contact {
        left: 0; /* Navbar is horizontal, no need for left margin */
        top: 5rem; /* Adjust for horizontal navbar height */
        width: 100%; /* Full width */
        height: calc(100% - 5rem); /* Avoid overlap with horizontal navbar */
        padding: 1rem;
    }

    .contact-container {
        padding: 2rem 1rem;
        width: 95%;
    }

    .contact h2 {
        font-size: clamp(2rem, 6vw, 5rem)
    }

    .contact p {
        font-size: clamp(.85rem, 2.5vw, 2rem)
    }
}

@media (max-width: 425px) {


.splash {
    background: url(../Images/Progress\ -\ Human\ and\ machine\ towards\ civilization.webp) no-repeat center center/cover;
    height: 100vh;
}

.splash-content {
    background-color: rgba(0, 0, 0, 0.6);
}

.splash-content h1, .splash-content h2 {
    -webkit-text-stroke-width: 0px;
}

.navbar {
    border: transparent;
    background-color: transparent;
    box-shadow: none;
    height: auto;
    z-index: 50;
}

.mobile-navbar-toggle {
    display: block;
    position: absolute;
    width: 2.3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border: 2px solid black;
    background-color: #ffcc00;
    cursor: pointer;
    z-index: 500;
}

.icon {
    position: absolute;
    inset: 0;
    color: transparent;
    line-height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 400ms ease;
    margin: .1rem;
}

.icon.default {
    background-image: url(../Images/burger-menu-svgrepo-com.svg);
    opacity: 1;
}

.icon.active {
    background-image: url(../Images/close-1538-svgrepo-com.svg);
    opacity: 0;
}


.mobile-navbar-toggle[aria-expanded="true"] .icon.default {
    opacity: 0;
}

.mobile-navbar-toggle[aria-expanded="true"] .icon.active {
    opacity: 1;
}


.navbar .nav-links {
    position: fixed;
    flex-direction: column;
    gap: 1rem;
    inset: 0 0 0 32%;
    width: auto;
    padding: min(30vh, 4rem) 2rem;
    background: rgba(0, 0, 0, .70);
    backdrop-filter: blur(.65rem);
    border-left:  3px solid  rgba(255, 204, 0, 0.9);
    border-radius: .8rem;
    transform: translateX(100%);
    transition: transform 400ms ease-out;
    
}

.nav-links[data-visible="true"] {
    transform: translateX(0%);
}

.navbar .nav-links li {
    text-align: center;
}

.about {
    top: 0;
    height: 100vh;
    padding: 1em;
}

.about-container {
    padding: 1.5em;
}

.projects {
    top: 0;
    height: 100vh;
}

.projects-container {
    padding: 1.8rem;
    width: 100%;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: 
    " item1 "
    " item2 "
    " item3 "
    " item4 "
    " item5 "
    
    ;
}

.item:hover {
    transform: scale(1.3);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
    
}

.item-info h2 {
    font-size: 5vw;
}

.item-info .button {
    font-size: 2.5vw;
}

.contact {
    top: 0;
    height: 100vh;
}

}

